# Windsurf Editor Rules

## General Context
- This is a Vue 3 project.

## General Rules
- Always challenge me on my instructions if I am suggesting a pattern that does not map to the Vue way.
- Never explain code or changes made, just do it.

## Vue Rules
- Always look at resources/js/Pages for Inertia pages.
- Always use script setup style in Vue components.
- Always attempt to use a component in resources/js/components for components you can use before writing new components.
- Always attempt to use a ui element in resources/js/components/ui before writing new ui elements such as buttons, cards and form elements.
- Always use a radix-vue component when creating a new component, if available.
- Always import components then layouts after all other imports.
- Always use '@' for imports.
- Whenever creating a new form, look at js/pages/Teams/Create.vue for an example.
- Never write typescript. If you see typescript, do not remove it just leave it, unless instructed to remove it.

## Tailwind Rules
- Always use Tailwind CSS classes for styling.
- Always use shades of bg-neutral for backgrounds.