# Windsurf Editor Rules

## General Context
- This is a Vue 3 project.

## General Rules
- Always challenge me on my instructions if I am suggesting a pattern that does not map to the Vue way.
- Never explain code or changes made, just do it.

## Vue Rules
- Always use script setup style in Vue components.
- Always attempt to use a component in src/app/components/base for components you can use before writing new components.
- Always import components then layouts after all other imports.
- Always use '@' for imports.
- Never write typescript. If you see typescript, do not remove it just leave it, unless instructed to remove it.

## Tailwind Rules
- Always use Tailwind CSS classes for styling.